.el-notification {
  .el-notification__content {
    text-align: inherit;
  }
}

.el-loading-mask {
  .el-loading-spinner {
    // margin-top: -15px;
    .circular .path {
      stroke: black;
    }
    .el-icon-loading {
      color: white;
    }
  }
}

.el-tooltip__popper.balance {
  background-color: #020202;
  font-size: 16px;
}

.vote-toast {
  &.Vue-Toastification__toast,
  &.Vue-Toastification__toast--default {
    background-color: #e0e0e0;
    font-size: 20px;
    color: black;
  }
  &.Vue-Toastification__toast--error .Vue-Toastification__icon {
    color: red;
  }
  & .Vue-Toastification__close-button {
    color: black;
  }
  & .Vue-Toastification__progress-bar {
    background-color: black;
  }
}

.el-menu--horizontal {
  padding-left: 40px;
  background-color: #00000000 !important;
  ul {
    background-color: #00000000 !important;
    li {
      height: 48px !important;
      line-height: 48px !important;
      border-top: white 1px solid;
      margin-left: 40px;
      text-align: center;
      background-color: #0c306199 !important;
      &:first-child {
        border-top: unset !important;
      }
    }
  }
}

.el-dropdown-menu {
  .el-dropdown-menu__item:focus,
  .el-dropdown-menu__item:not(.is-disabled):hover {
    color: black;
    background-color: #ebebeb;
  }
}

.dialog {
  &.el-dialog {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 780px;
    height: 586px;
    background: #ffffff;
    box-shadow: 0px 5px 31px 0px rgba(135, 135, 135, 0.73);
    padding: 10px 100px 66px;
  }
  &.el-dialog .el-dialog__header {
    padding: 0;
  }
  &.el-dialog .el-dialog__close {
    font-size: 24px;
  }
  & .el-dialog .el-dialog__headerbtn:hover .el-dialog__close {
    color: #020202;
  }
  &.el-dialog .el-dialog__close:hover {
    color: #020202;
  }

  &.el-dialog {
    display: inline-block;
    width: auto;
    height: auto;
  }

  &.el-dialog.medium {
    width: 780px;
    min-height: 506px;
  }

  &.el-dialog.small {
    width: 500px;
    min-height: 300px;
  }

  &.el-dialog.fullscreen,
  &.el-dialog.fullscreen .el-dialog__body {
    width: 100% !important;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    padding: 0;
    margin: 0;
  }
  &.el-dialog.fullscreen .el-dialog__close {
    position: relative;
    z-index: 2001;
  }
  &.el-dialog.fullscreen .el-dialog__headerbtn:hover .el-dialog__close {
    color: #999;
  }
  &.el-dialog.fullscreen .el-dialog__close:hover {
    color: #999;
  }

  &.el-dialog.message {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 20px 20px;
  }
  &.el-dialog {
    background-color: black;
    .dialog-content {
      height: 100%;
    }
  }
}

.el-overlay.uniarts-modal {
  height: 100vh;
  width: 100vw;
}
.uniarts-drawer.el-drawer.ltr,
.uniarts-drawer.el-drawer.rtl {
  height: 95%;
  top: 5%;
}
.uniarts-drawer {
}

@media screen and (max-width: 750px) {
  .Vue-Toastification__container {
  }
  .Vue-Toastification__container .Vue-Toastification__toast.vote-toast-mobile {
    width: 90%;
    max-width: 90%;
    top: 10px;
    left: 5%;
    padding: 10px 20px;
    border-radius: 6px;
  }

  .mobile-confirm-modal {
    &.el-drawer-fade-enter-active,
    &.el-drawer-fade-leave-active {
      animation-duration: 0.3s;
    }
    &.el-drawer-fade-enter-active .mobile-confirm.el-drawer.btt {
      animation: btt-drawer-animation1 0.3s ease reverse;
    }
    &.el-drawer-fade-leave-active .mobile-confirm.el-drawer.btt {
      animation: btt-drawer-animation1 0.3s ease;
    }
    @keyframes btt-drawer-animation1 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 100%);
      }
    }
    .mobile-confirm {
      overflow: hidden;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      height: auto !important;
      min-height: 80px;
    }
    .mobile-confirm section.el-drawer__body {
      padding: 26px 15px 26px 15px;
    }
    .mobile-confirm.retrieve-confirm section.el-drawer__body {
      padding: 0;
    }
  }
}

// .el-dialog {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translateX(-50%) translateY(-50%);
//   width: 780px;
//   height: 586px;
//   background: #ffffff;
//   box-shadow: 0px 5px 31px 0px rgba(135, 135, 135, 0.73);
//   padding: 10px 100px 66px;
// }
// .el-dialog .el-dialog__header {
//   padding: 0;
// }
// .el-dialog .el-dialog__close {
//   font-size: 24px;
// }
// .el-dialog .el-dialog__headerbtn:hover .el-dialog__close {
//   color: #020202;
// }
// .el-dialog .el-dialog__close:hover {
//   color: #020202;
// }

// .el-dialog {
//   display: inline-block;
//   width: auto;
//   height: auto;
// }

// .dialog.medium {
//   width: 780px;
//   min-height: 506px;
// }

// .dialog.small {
//   width: 500px;
//   min-height: 300px;
// }

// .dialog.fullscreen {
//   width: 100%;
//   height: 100%;
//   &.el-dialog,
//   .el-dialog__body {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     transform: none;
//     padding: 0;
//     margin: 0;
//   }
//   &.el-dialog .el-dialog__close {
//     position: relative;
//     z-index: 2001;
//   }
//   &.el-dialog .el-dialog__headerbtn:hover .el-dialog__close {
//     color: #999;
//   }
//   &.el-dialog .el-dialog__close:hover {
//     color: #999;
//   }
// }

// .dialog.message.el-dialog {
//   width: 400px;
//   height: 200px;
//   display: flex;
//   align-items: center;
//   padding: 20px 20px;
// }

.el-dialog.vote-dialog {
  background-color: #f4f4f4;
  max-width: 700px;
  min-height: 20px;
  min-width: 100px;
  // width: auto !important;
  border-radius: 20px;
  display: inline;
  position: absolute;
  // top: 0;
  left: 0;
  right: 0;
  // bottom: 0;
  // box-shadow: 0px 5px 31px 0px rgba(135, 135, 135, 0.73);
  padding: 30px 100px 30px;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    padding: 20px 20px;
    
  }
}

.el-dialog.vote-dialog.retrieve-dialog {
  padding: 0;
  overflow: hidden;
  .el-dialog__body {
    padding: 0;
  }
}

div.el-overlay {
  background-color: transparent;
}
